/* HTML5 RESET */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/*** END RESET CSS ***/

/*** FONT.CSS from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages
***/

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*** GENERAL STYLE ***/

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
	padding: 15px; 
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

ol { list-style-type: decimal; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #44a7f2; color:#fff; text-shadow: none; }
::selection { background:#44a7f2; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/* --------------------- */



html, body {
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
}

body {
	background: url(img/background-banner.png) repeat-x;
}

h1 {
	margin: 0;
	padding: 0;
	background: url(img/logo-louklouk.png) no-repeat 0 0;
 	height: 77px;
}

h1 span {
	position: absolute;
	top: -5000px;
}

h2 {
	color: #0b3c56;
	font-size: 200%;
	margin: 0;
	font-size: 3.5em;
    }
	
h3 {
	font-size: 18px;
}

:focus {
	outline: 0;
}

hr {
	border: 0;
	clear: both;
	height: 0;
	padding: 0;
	margin: 0;
}

/* ---------------- SEARCH --------------------*/

.connect {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 0.8em;
	color: #0b3c56;
}

.connect a {
	display: block;
	color: #0b3c56;
}

form.formslog {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 465px;
}

form.formslog fieldset {
	padding: 20px 0 0;
	margin: 0;
	border: 0;
}

form.formslog fieldset input {
	border: 0;
	background: none;
	margin: 0;
}

form.formslog fieldset .fieldlog {
	width: 183px;
	height: 28px;
	background: url(img/field.png) no-repeat 0 0;
	padding: 0 0 0 7px;
}

form.formslog fieldset .buttonlog {
	width: 45px;
	height: 25px;
	background: url(img/hand-register.png) no-repeat 0 0;
}


/* ---------------- NAVIGATION ----------------*/

#navmain {
	background: url(img/background-center.png) no-repeat;
	width: 970px;
	height: 111px;
	margin: 0 auto;
	position: relative;
}

#navmain img {
	border: none;
}

ul.topnav {  
     list-style: none;  
	 position: absolute;
	 top: 79px;
	 right: 15px;
     padding: 0;  
     margin: 0; 
}

ul.topnav li {  
     float: left;  
     margin: 0;  
     padding: 0 15px 0 0;  
     position: relative; /*--Declare X and Y axis base for sub navigation--*/  
}

ul.topnav li a {
     float: left;
	 display: block;
	 color: #7e7f82;
	 font-size: .85em;
	 font-variant: small-caps;
	 text-decoration: none;
	 /*text-transform: uppercase;*/
	 text-align: center;
	 background: url(img/sep-navmain.png) no-repeat right 100%;
	 padding: 0 20px 0 0;
}

ul.topnav li a.navend {
	 background: none;
	 padding: 0;
}

ul.topnav li a:hover{  
     color: #d2d2d2;
}

ul.topnav li a:focus{  
     
}

ul.topnav li ul.subnav {  
     
}

ul.topnav li ul.subnav li{  
     
}  
ul.topnav li ul.subnav li a {  
     
}
ul.topnav li ul.subnav li a.end {  
     
}  
ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/  
     
}  


/*------------------- CONTAINER --------------------*/

#container {
	width: 970px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px;
}

/*----------------------- CONTENT HP -------------------------*/

#content {
	float: left;
	width: 750px;
	padding: 15px 0 0;
}

#content h2 {
	/*height: 56px;*/
	padding: 0;
	margin: 25px 0 10px;
	font-size: 1.5em;
}

#content img {
	
}

.logadvanced {
	position: relative;
	width: 750px;
}

#thema {
	width: 431px;
	height: 369px;
	float: left;
	background: url(img/picture.png) no-repeat;
}

#arrowcurrent {
	background: url(img/arrow-box-profil.png) no-repeat 0 0;
	position: absolute;
	left: 405px;
	top: 60px;
	width: 35px;
	height: 76px;
}

.boxinscription, .boxfan {
	/*
	height: 279px;
	background: url(img/encar-main.png) no-repeat;
	text-align: center;
	margin: 0 30px;*/
	float: left;
	width: 270px;
	padding: 0 0 0 15px;
}

.boxinscription {
	height: 196px;
}

.boxfan {
	background: url(img/underline-title.png) no-repeat center top, url(img/content-grey.png) repeat 0 0;
	padding: 7px 0 0 15px;
}

#content .boxinscription h2, #content .boxfan h2 {
	margin: 0;
	padding: 6px 0 8px;
}

.boxinscription ul, .boxfan ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.boxinscription ul li a, .boxfan ul li a {
	height: 30px;
	display: block;
	padding: 4px 0;
	color: #000;
	font-size: 12px;
	text-decoration: none;
}

#content .image_carousel {
	position: relative;
	width: 787px;
	height: 130px;
	padding: 40px 0;
}

#content .image_carousel h2 {
	/*padding: 25px 0 0;
	margin: 0;*/

}

#content .image_carousel div {
	position: absolute;
	width: 715px;
	border-bottom: 1px solid #CCC;
}

#content .image_carousel ul {
	list-style-type: none;
	padding: 0 0 0 20px;
	margin: 0;
	background: url(img/background-list-logo.png) no-repeat 0 0;
}

#content .image_carousel ul li {
	float: left;
	padding: 0 15px;
}

#content .image_carousel a span {
	position: absolute;
	top: -5000px;
}

#content .image_carousel img {
	border: 0;
}

#content .image_carousel .prev {
	position: absolute;
	top: 135px;
}

#content .image_carousel .next {
	position: absolute;
	right: 75px;
	top: 135px;
}

.info {
	position: relative;
	width: 750px;
}

#content .info h2 {
	height: 48px;
	padding: 0 0 0 55px;
	/*margin: 50px 0 0;*/
}

.boxevents h2 {
	background: url(img/ico-agenda.png) no-repeat 0 0;
}

.boxevents, .boxadvertise {
	float: left;
	padding: 20px 19px;
	width: 335px;
}

.boxevents ul, .boxadvertise ul {
	padding: 0;
	margin: 0 0 0 55px;
	list-style-type: none;
	font-size: 10px;
}

.boxevents ul li {
	background: url(img/underline-title.png) no-repeat 0 bottom;
	padding: 5px 0 25px;
}

.boxevents ul li img {
	float: left;
	margin: 0 12px 0 0;
}

.boxevents ul li span {
	float: left;
	width: 165px;
	margin: 0;
}

.boxevents ul li span h3 {
	color: #79c725;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.boxevents ul li a {
	color: #000;
	text-decoration: none;
}

.boxadvertise h2 {
	background: url(img/ico-annonces.png) no-repeat 0 0;
}

.boxadvertise strong {
	color: #2e87d3;
}

.boxadvertise img {
	padding: 3px 0;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
}

.boxadvertise ul li {
	
}

.boxadvertise ul li span {
	display: block;
	padding: 0 0 15px;
}

/*------------------- 2 LEVEL ---------------------*/

#content-2level {
	float: left;
	width: 750px;
	padding: 15px 0 0;
	font-size: .7em;
}

#content-2level img {
	float: left;
}

#content-2level .boxcenter {
	float: left;
	width: 567px;
	padding: 15px 0 15px 30px;
}

#container form fieldset {
	border: none;
	padding: 20px 30px 140px;
}

#container form fieldset label, #container form fieldset input, #container form fieldset textarea {
	display: block;
	font-size: 1.1em;
	padding: 8px 0 0;
}

#content-2level .searchcategory, #content-2level .searchenterprise {
	background: url(img/form-boxbackground-bottom.png) no-repeat 0 bottom;
	margin: 0 0 25px;
	position: relative;
}

#content-2level .searchcategory div, #content-2level .searchenterprise div {
	width: 620px;
	background: url(img/form-boxbackground-top.png) no-repeat 0 top;
}

#content-2level .searchcategory h3, #content-2level .searchenterprise h3 {
	padding: 0;
	margin: 0;
	font-size: 2.0em;
	color: #0b3c56;
}

#container .searchcategory label, #container .searchenterprise label {
	font-size: 1.1em;
	padding: 15px 0 5px;
}

#container form fieldset input, #container form fieldset select, #container form fieldset textarea {
	border: 1px solid #799858;
	background: url(img/background-field.png) repeat 0 0;
	padding: 3px;
	width: 490px;
}

#content-2level form fieldset .buttonsearchfilter {
	border: 1px solid #799858;
	background-color: #79c725;
	background-image: none;
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 20%;
	text-align: center;
}

#content-2level .information {
	width: 190px;
	float: left;
}

#content-2level .information strong {
	color: #1593db;
	font-size: 2.0em;
	display: block;
	padding: 0 0 12px;
}

#content-2level .information p {
	padding: 0 0 15px;
}

#content-2level .information img {
	float: left;
	border: 1px solid #d3d3d3;
	padding: 2px;
	margin: 0 5px 5px 0;
}

#content-2level .frontsociety {
	float: left;
	width: 475px;
	padding: 15px 0 15px 30px;
}

#content-2level .frontsociety img {
	padding: 8px;
	margin: 15px 0;
	border: 1px solid #D3D3D3;
	float: none;
}

#content-2level .frontsociety .comments {
	background-color: #f5f5f7;
	width: 99%;
	padding: 15px;
	border: 1px solid #eeeeee;
	margin: 0 0 15px;
}

#content-2level .frontsociety .comment {
	border-bottom: 1px solid #eeeeee;
	padding: 15px 0;
}

#content-2level .frontsociety .comment strong {
	color: #69b21b;
	font-size: 1.4em;
	display: block;
	margin: 0 0 10px;
}

#content-2level .frontsociety .comment strong span {
	color: #000000;
	font-size: 0.7em;
	font-weight: normal;
}

#content-2level .frontsociety .comment p {
	clear: none;
}

#content-2level .frontsociety .comment .respons {
	text-align: right;
}

#content-2level .frontsociety .comment .respons img {
	border: none;
	padding: 0;
	margin: 0;
}

#content-2level .frontsociety .comment .respons span {
	font-size: 1.1em;
	font-weight: bold;
	padding: 2px;
	margin: 0 0 0 5px;
}

#content-2level .frontsociety .comment .respons span.like {
	color: #008000;
	border-right: 1px solid #d4d4d4;
	padding: 0 10px 0 0;
}

#content-2level .frontsociety .comment .respons span.sendrespons {
	color: #9bcc67;
}

/*------------------- DASHBOARD -------------------*/

#dashboard {
	float: left;
	width: 750px;
	padding: 15px 0 0;
	font-size: .7em;
}

#dashboard h2 { 
		background: url(img/ico-dashboard.png) no-repeat right top;
		width: 77px;
		height: 75px;
		font-size: 5.5em;
		padding: 0 290px 0 0;
}

#dashboard h3 { 
		font-size: 2.2em;
		padding: 0 0 15px;
}

.nav-second { 
		float: left;
		width: 190px;
}

.nav-second ul { 
		list-style-type: none;
		padding: 0;
		margin: 0;
}

.nav-second ul li { 
	
}

.nav-second ul li a { 
		background-color: #79c725;
		padding: 10px;
		display: block;
		text-decoration: none;
		color: #fff;
		font-size: 1.1em;
		position: relative;
}

.nav-second ul li a span { 
		background: url(img/sep-navdashboard.png) repeat-y 0 0;
		padding: 15px;
		position: absolute;
		right: 0;
		top: 0;
}

.nav-second ul li ul { 
		border: 1px solid #79c725;
		padding: 0;
		margin: 0;
}

.nav-second ul li ul li { 
		
}

.nav-second ul li ul li a { 
		padding: 3px 10px;
		background-color: #fff;
		color: #000;
}

#dashboard .dashboard {
	float: left;
	width: 475px;
	padding: 15px 0 15px;
}

#post {
	float: left;
	width: 220px;
	font-size: .8em;
	border-radius: 10px;
	background-color: #000;
	margin-top: 130px;
}

#post .search {
	
}

#post .search form {
	padding: 0;
	margin: 0;
}

#post .search form fieldset {
	margin: 0;
	padding: 10px 10px 20px;
	border: 0;
}

#post .search form fieldset label {
	color: #fff;
	font-size: .9em;
	padding-bottom: 3px;
}

#post .search form fieldset input, #post .search form fieldset select {
	border: 1px solid #799858;
	background: url(img/background-field.png) repeat 0 0;
	padding: 3px;
}

#post .search form fieldset input {
	width: 192px;
}

#post .search form fieldset select {
	width: 200px;
}

#post .search form fieldset input.submit {
	border: 1px solid #799858;
	background-image: none;
	background-color: #79c725;
	text-align: center;
	color: #fff;
	padding: 8px 0 5px;
	margin-top: 10px;
	width: 200px;
	font-size: .8em;
}

#dashboard-table {
	float: left;
	width: 100%;
	padding: 15px 0 0;
	font-size: .7em;
}

.dashboard-table {
	float: left;
	width: 80%;
	padding: 15px 0 15px;
	position: relative;
}

#dashboard-table .dashboard-table input, #dashboard-table .dashboard-table textarea, #dashboard-table .dashboard-table select {
	width: 100%;
}

.dashboard-table .table {
	display: table;
	margin: 0 auto;
	width: 705px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.dashboard-table .table .row {
	display: table-row;
	background-color: #e6e6e6;
	color: #757575;
}

.dashboard-table .table .row2 {
	display: table-row;
	background-color: #fff;
}

.dashboard-table .table .checkbox {
	width: 10%;
}

.dashboard-table .table .title {
	width: 30%;
}

.dashboard-table .table .author, .dashboard-table .table .category, .dashboard-table .table .date {
	width: 20%;
}

.dashboard-table .table .col1, .dashboard-table .col2 {
	display: table-cell;
	padding: 10px;
	border-right: 1px solid #ccc;
}

.dashboard-table .table .colcat {
	display: table-cell;
	padding: 10px;
	font-weight: bold;
}

.dashboard-table .table .colcatright {
	display: table-cell;
	width: 20%;
	padding: 10px;
	font-weight: bold;
	border-right: 1px solid #ccc;
}

#dashboard-table .dashboard-table form fieldset select, #dashboard-table .dashboard-table form fieldset input, #dashboard-table .dashboard-table form fieldset label {
	float: left;
	width: 100px;
	margin: 0 10px 0 5px;
}

#dashboard-table .dashboard-table form fieldset input {
	background-image: none;
	background-color: #79c725;
	color: #fff;
}


#dashboard-table .dashboard-table form fieldset {
	padding: 20px 30px 40px;
}


ul#pager {
	position: absolute;
	right: 0;
	top: 0;
	list-style-type: none;
	width: 250px;
}

ul#pager .bottom {
	bottom: 20px;
}

#pager li, #pagerbottom li {
	display: inline;
}

#pager li a, #pager li span, #pagerbottom li a, #pagerbottom li span {
	float: left;
	width: 18px;
	height: 25px;
	margin-right: 10px;
	display: block;
}

#pager li span.pager-current, #pagerbottom li span.pager-current {
	padding: 3px 0 0 5px;
	background: url(img/currentpage.png) no-repeat 0 0;
	width: 31px;
}

#pager li span.pager-global, #pagerbottom li span.pager-global {
	padding: 3px 0 0 5px;
	color: #79c725;
	width: 40px;
}

ul#pagerbottom {
	position: absolute;
	right: 0;
	bottom: 0;
	list-style-type: none;
	width: 250px;
}



/*------------------- SIDEBAR ---------------------*/

#sidebar {
	float: left;
	width: 220px;
	font-size: .8em;
}

#sidebar .search {
	background: url(img/background-search.png) no-repeat;
	width: 194px;
	height: 83px;
}

#sidebar .search form {
	padding: 0;
	margin: 0;
}

#sidebar .search form fieldset {
	padding: 20px 11px 0;
	margin: 0;
	border: 0;
}

#sidebar .search form fieldset input {
	border: 0;
	background: none;
	margin: 0;
}

#sidebar .search form fieldset .fieldsearch {
	width: 87px;
	height: 25px;
	background: url(img/fieldsearch.png) no-repeat 0 0;
	float: left;
}

#sidebar .search form fieldset .buttonsearch {
	width: 75px;
	height: 25px;
	background: url(img/button-search.png) no-repeat 0 0;
	font-size: .7em;
	float: left;
}

#sidebar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#sidebar ul li {
	margin: 0 0 20px;
	padding: 0 0 10px;
	border-bottom: 1px solid #c2c2c2;
}

#sidebar p {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	color: #959595;
}

#sidebar img {
	padding: 10px 4px 0 0;
}

#sidebar h4 {
	padding: 0;
	margin: 0;
}

#sidebar span {
	color: #b8cc00;
	font-size: .79em;
}

#sidebar a {
	color: #b8cc00;
	font-size: 1.1em;
}

/*------------------ FOOTER ----------------------*/

#footer, .push {
	height: 40px;
}

#footer {
	background-color: #79c725;
	clear: both;
	position: relative;
}

#footer div {
	margin: 0 auto;
	padding: 12px 0 0;
	font-size: .8em;
	width: 940px;
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #fff;
}



